In [1]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

# DataFrame and Series Basics - Selecting rows and columns

In [2]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [3]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [4]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [8]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [9]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [10]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [11]:
df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [12]:
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [13]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

## Part 3 Indexes - How To Set, Reset, and Use Indexes

In [14]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [15]:
df.set_index('email', inplace=True)

In [16]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [17]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [18]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [19]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

# Part 4 Filtering - Using Conditionals to Filter Rows and Columns

In [20]:
#Filter Mask
# filt = (df['last'] == 'Doe') & (df['first'] == 'John')
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [21]:
df[filt]

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
2        JohnDoe@email.com   John      Doe

In [22]:
df[(df['last'] == 'Doe') ]

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [23]:
df.loc[~filt, 'email']
# ~ stand for negation !

1    JaneDoe@email.com
Name: email, dtype: object

# Part5 Updating Rows and Columns - Modify Data Within DataFrames

In [25]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [26]:
df.columns = ['first_name', 'last_name', 'email']

In [27]:
df

                first_name last_name    email
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe

In [42]:
df.columns = [x.lower() for x in df.columns]
df

                first_name last_name    email
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe

                FIRST_NAME LAST_NAME    EMAIL
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe

In [36]:
df.columns = df.columns.str.replace(' ', '_')
df

                FIRST_NAME LAST_NAME    EMAIL
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe

In [43]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'  }, inplace=True)

In [44]:
df

                     first   last    email
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [46]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
df

                     first   last                email
0  CoreyMSchafer@gmail.com  Corey              Schafer
1        JaneDoe@email.com   Jane                  Doe
2                     John  Smith  JohnSmith@email.com

In [47]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
df

                     first   last              email
0  CoreyMSchafer@gmail.com  Corey            Schafer
1        JaneDoe@email.com   Jane                Doe
2                     John    Doe  JohnDoe@email.com

In [48]:
df.loc[2, 'last'] = 'Smith'
df

                     first   last              email
0  CoreyMSchafer@gmail.com  Corey            Schafer
1        JaneDoe@email.com   Jane                Doe
2                     John  Smith  JohnDoe@email.com

In [49]:
df.at[2, 'last'] = 'Doe'

In [56]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last'] = 'Smith'
df

/home/cesar/Documents/courses/python/pandas-tutorial/.venv/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

                     first   last              email
0  CoreyMSchafer@gmail.com  Corey            Schafer
1        JaneDoe@email.com   Jane                Doe
2                     John  Smith  JohnDoe@email.com

In [57]:
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt, 'last'] = 'Smith'
df

                     first   last              email
0  CoreyMSchafer@gmail.com  Corey            Schafer
1        JaneDoe@email.com   Jane                Doe
2                     John  Smith  JohnDoe@email.com

In [61]:
# df['email'].str.lower()
df['email'] =  df['email'].str.lower()
df

                     first   last              email
0  CoreyMSchafer@gmail.com  Corey            schafer
1        JaneDoe@email.com   Jane                doe
2                     John  Smith  johndoe@email.com

In [62]:
df['email'].apply(len)

0     7
1     3
2    17
Name: email, dtype: int64

In [63]:
def update_email(email):
    return email.upper()

In [64]:
df['email'].apply(update_email)

0              SCHAFER
1                  DOE
2    JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [65]:
df['email'] = df['email'].apply(update_email)
df

                     first   last              email
0  CoreyMSchafer@gmail.com  Corey            SCHAFER
1        JaneDoe@email.com   Jane                DOE
2                     John  Smith  JOHNDOE@EMAIL.COM

In [66]:
df['email'] = df['email'].apply(lambda x: x.lower())
df

                     first   last              email
0  CoreyMSchafer@gmail.com  Corey            schafer
1        JaneDoe@email.com   Jane                doe
2                     John  Smith  johndoe@email.com

In [67]:
df['email'].apply(len)

0     7
1     3
2    17
Name: email, dtype: int64

In [70]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [69]:
len(df['email'])

3

In [73]:
df.apply(pd.Series.min)

first    CoreyMSchafer@gmail.com
last                       Corey
email                        doe
dtype: object

In [74]:
df.apply(lambda x: x.min())

first    CoreyMSchafer@gmail.com
last                       Corey
email                        doe
dtype: object

In [75]:
df.applymap(len)

   first  last  email
0     23     5      7
1     17     4      3
2      4     5     17

In [76]:
df.applymap(str.lower)

                     first   last              email
0  coreymschafer@gmail.com  corey            schafer
1        janedoe@email.com   jane                doe
2                     john  smith  johndoe@email.com

In [78]:
df['last'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: last, dtype: object

In [79]:
df['last'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2    Smith
Name: last, dtype: object

In [81]:
df['last'] = df['last'].replace({'Corey': 'Chris', 'Jane': 'Mary'})
df

                     first   last              email
0  CoreyMSchafer@gmail.com  Chris            schafer
1        JaneDoe@email.com   Mary                doe
2                     John  Smith  johndoe@email.com